@{
    ViewData["Title"] = "Home Page";
}
@model CheckoutSystem.ViewModel.Item


    <div class="text-center">
        <h1 class="display-4">Scan</h1>
        @using (@Html.BeginForm("myMethod", "Home", FormMethod.Post))
        {
            <form method="post">
                <label asp-for="Sku"></label>
                <input asp-for="Sku"/>
                <br/>
                <label asp-for="Quantity"></label>
                <input asp-for="Quantity"/>
                <br/>
                <input type="submit"/>
                <br/>
                Total Price: @ViewBag.TotalPrice
                <br/>
                Offer Price: @ViewBag.PriceAfterOffer
            </form>
        }

    </div>
